
body {
    font-family: 'Arial', sans-serif;
    background-color: #4caf50; 
    color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


#storyContainer {
    background-color: #1b5e20;  
    padding: 50px 40px;
    border-radius: 20px;
    width: 95%;       
    height: 90vh;     
    max-width: 1000px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start; 
    overflow-y: auto; 
}


#storyContainer h1 {
    font-family: 'Georgia', serif; 
    color: #a5d6a7;
    font-size: 3em;      
    margin-bottom: 30px;
}


#storyText {
    font-size: 1.8em;   
    line-height: 1.6;
    margin-bottom: 30px;
}


#storyImage {
    max-width: 80%;
    height: auto;
    margin-bottom: 30px;
    border-radius: 10px;
}


.choiceButton {
    display: block;
    margin: 10px auto;
    padding: 15px 25px;     
    font-size: 18px;
    border: 1px solid #81c784;
    border-radius: 8px;
    background-color: #66bb6a;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s;
}

.choiceButton:hover {
    background-color: #81c784;
    color: #fff;
}

#startImage {
    max-width: 100000%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}